{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="contact">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
                <br><br>
            <div class="phoneNumber">

                <h2>Phone number </h2>

                {{ phoneNumber }} <br><br>
            </div>

            <div class="openingHours">

                <h2>Opening hours </h2>

                Monday: {{ hours.monday }}<br>
                Tuesday: {{hours.tuesday }}<br>
                Wendsday: <br>
                Thursday: <br>
                Saturday: <br>
                Sunday: <br>
                <br><br>
            </div>

            <div class="address">
            
                <h2>Address</h2>

                {{ contact.city|capitalize }}, st. {{ contact.street|capitalize }}
            </div>
        </div>
    </div>
{% endblock %}