{% extends 'base.html.twig' %}

{% block body %}
<div id='content'>
    <div class="dash">
        <br>
        <div style="text-align: center;">
            <h2>Dashboard</h2>
        </div>
        <br>
        {% if app.user %}
            <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }},<p><button> <a class='logout' href="{{ path('app_logout') }}">Logout</a></button></p>
            </div>
        {% else %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h6 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <br>
            <button class="btn btn-primary" type="submit">
                Sign in
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
