{% extends 'base.html.twig' %}

{% block body %}
    You logged in, {{ admin.getUsername|capitalize }}
    <br>
    <div id='content'>
        <br><br><br><br><br><br>
        <div class="visitsInfo">
             <h2>Visits info </h2>

            <div class="currentWeek">
                <h3>Current date( {{ date }} ) </h3>

                    Visits counts: <br>
                    ------------- <br>
                    week: {{ sumWeekVisits }} <br>
                    month: {{ sumMonthVisits }} <br>
                    Year: {{ sumYearVisits }} <br>
            </div>
        </div>
    </div>
{% endblock %}
