{% extends 'base.html.twig' %}

{% block body %}
    <div id = 'content'>
        <br><br><br><br><br><br>
        <div class = "dashboard">
            <h2>Contact</h2>
            <br>
            <div class = "open-hours">
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
                <h3>Open Hours</h3>
                {% if daysOpenHours is empty %}
                    <span>Your days works is not defined.</span>
                {% else %}
                {{ include('open_hours_table.html.twig') }}  
                {% endif %}
            </div>
            <br><br>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}