{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        {{ include('dashboard_navbar.html.twig') }}
            <br>
            <h3>Contact</h3>
            <br>
            <div class="dash">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                    <br><br>
                {% endfor %}
                <h3>Open Hours</h3> <br>
                {% if daysOpenHours is empty %}
                    <div class='warning'>
                        <img src="/img/icon-warning.png"/>
                        <span><b>Your days work is not defined</b></span>
                    </div>
                    <span>Your days works is not defined.</span>
                {% else %}
                {{ include('open_hours_table_en.html.twig') }}  
                {% endif %}
                <br><br>
                {{ form_start(openHoursForm) }}
                {{ form_end(openHoursForm) }}
                    <div class="phone">
                        <h3>Phone</h3>
                        {{ form_start(phoneForm) }}
                        {{ form_end(phoneForm) }}
                    </div>
                    <div class="address">
                        <h3>Address</h3>
                        {{ form_start(addressForm) }}
                        {{ form_end(addressForm) }}
                    </div>
            </div>
    </div>
{% endblock %}