{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        {{ include('dashboard_navbar.html.twig') }}
        <div class="dashboard">
            <h2>Contact</h2>
            <br>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                {{ message }}
            </div>
                {% endfor %}
            <div class="open-hours">
                <h3>Open Hours</h3>
                {% if daysOpenHours is empty %}
                    <span>Your days works is not defined.</span>
                {% else %}
                {{ include('open_hours_table.html.twig') }}  
                {% endif %}
                <br><br>
                {{ form_start(openHoursForm) }}
                {{ form_end(openHoursForm) }}
            </div>
            <div class="contact">
                <div class="phone">
                    <h3>Phone</h3>
                    {{ form_start(phoneForm) }}
                    {{ form_end(phoneForm) }}
                </div>
                <div class="address">
                    <h3>Address</h3>
                    {{ form_start(addressForm) }}
                    {{ form_end(addressForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}