{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        <div class="section">
            {{ include('dashboard_navbar.html.twig') }}
            <h2>Pricing</h2>
                <br>
            {% for label, messages in app.flashes(['success', 'error', 'notice']) %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            <table>
                <tr>
                    <th>Price range</th>
                    <th>Deposit</th>
                    <th>Currency</th>
                </tr>
                <tr>
                    <th> {{ pricing.getMinPrice }} - {{ pricing.getMaxPrice }} </th>
                    <th> {{ pricing.getDeposit }} </th>
                    <th> pln </th>
                </tr>
            </table>
            <br>

            {{ form_start(form) }}

            {{ form_end(form) }}
{% endblock %}