{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        {{ include('dashboard_navbar.html.twig') }}
            <br>
            <h3>Pricing Panel</h3>
            <br>
            <div class="dash">
            {% for label, messages in app.flashes(['success', 'error', 'notice']) %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            <table class="visits-table">
                <tr class="visits-label">
                    <th>Price range</th>
                    <th>Deposit</th>
                    <th>Currency</th>
                </tr>
                <tr>
                    <th> {{ pricing.getMinPrice }} - {{ pricing.getMaxPrice }} </th>
                    <th> {{ pricing.getDeposit }} </th>
                    <th> PLN </th>
                </tr>
            </table>
            <br>

            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}