{% extends 'base.html.twig' %}

{% block body %}
    <div id = 'content'>
        <br><br><br><br><br><br>
        <div class = "dashboard">
        {{ include('dashboard_navbar.html.twig') }}
             <h2>Visits Panel</h2>
             <div class = "admin-name">
                You logged in, {{ admin.getUsername|capitalize }} <br><br>
            </div>
            <br>
            <h3>Visits</h3>
            Date displayed {{ date }} <br>
            <div class = "current">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
                In Week: {{ sumWeekVisits }} <br>
                In Month: {{ sumMonthVisits }} <br>
                In Year: {{ sumYearVisits }} <br>
            </div>
            <br>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
