{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        {{ include('dashboard_navbar.html.twig') }}
            <br>
            <h3>Visits Panel</h3>
            <br>
            <div class="dash">
            <div class='visits-form'>
                {{ form(form) }}
            </div>
            <div class="visits">
                <h4>Visits</h4>
                <table class="visits-table">
                    <tr class="visits-label">
                        <th>Date</th>
                        <th>Week</th>
                        <th>Month</th>
                        <th>Year</th>
                    </tr class="visits-tr">
                        <th>{{ date }} </th>
                        <th>{{ sumWeekVisits }}</th>
                        <th>{{ sumMonthVisits }}</th>
                        <th>{{ sumYearVisits }}</th>
                    <tr>
                    </tr>
                </table>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
