{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="section">
        {{ include('dashboard_navbar.html.twig') }}
             <h2>Visits Panel</h2>
            <br>
            <h3>Visits</h3>
            <div class='visits-form'>
                {{ form(form) }}
            </div>
            <div class="visits-table">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Week</th>
                        <th>Month</th>
                        <th>Year</th>
                    </tr>
                        <th>{{ date }} </th>
                        <th>{{ sumWeekVisits }}</th>
                        <th>{{ sumMonthVisits }}</th>
                        <th>{{ sumYearVisits }}</th>
                    <tr>
                    </tr>
                </table>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
